<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GIT Repo</title>
  </head>
  <body>
    <h1>Find a GIT Repo</h1>
    <form action="/repos" method="post">
      <input type="text" name="username" value="">
      <input type="submit" name="" value="GIT username">
    </form>

  </body>
</html>
