* {
  box-sizing: border-box;
}

main {
  color: #333333;
  font-family: "Georgia", fantasy;
}


#primary-nav {
  color: rgb(255,138,12);
  border: 3px dashed #ffcc00;
  clear: both;
}

main ul, article {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main ul li {
  font-size: 30px;
}

main ul li.product, article section  {
  list-style: none;
  color: rebeccapurple;
  background-color: #eeeeee;
  width: 30%;
  border-radius:5px;
  padding: 5px;
  box-shadow: 3px -1px teal;

}
