<ul>
  <% @carafes.each do |carafe| %>
    <li>
      <%= carafe.name %>
      <a href="/carafes/<%= carafe.id %>/edit">✎ edit</a>

      <form action="/carafes/<%= carafe.id %>" method="post">
        <input type="hidden" name="_method" value="delete">

        <input type="submit" name="" value="X">

      </form>
    </li>
  <% end %>
</ul>
