<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robby's Coffee Catering Co.</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <h1>Robby's Coffee Catering Co.</h1>

    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/carafes">Carafes</a>
        </li>
        <li>
          <a href="/carafes/new">New Carafe</a>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
