<h2>New Carafe</h2>
<p class="alert alert-danger">
  Input the following fields (only if you are properly authorized)
</p>
<form action="/carafes" method="post">

  <label for="">Name</label>
  <input type="text" name="name" value="" placeholder="ie., Pool">

  <label for="">Max Volume</label>
  <input type="text" name="max_volume" value="" placeholder="ie., 1000ml">

  <input type="submit" name="" value="Save">
</form>
